# DS-SF-30 | Homework 02: The `pandas` Library

In this homework, we will be exploring the `Ozone` dataset using `pandas`.

> ## Question 1.  Import `pandas` (as `pd`).

In [4]:
import os

import pandas as pd

pd.set_option('display.max_rows', 5)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

In [5]:
df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-02-ozone.csv'))

> ## Question 2.  Display a few lines of the dataset to the screen.

In [6]:
df

     Ozone  Solar.R  Wind  Temp  Month  Day
0     41.0    190.0   7.4    67      5    1
1     36.0    118.0   8.0    72      5    2
..     ...      ...   ...   ...    ...  ...
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

[153 rows x 6 columns]

> ## Question 3.  How many samples (i.e., rows) are in this dataset?

In [7]:
153

153

> ## Question 4.  Print the name of each column in the dataset, one name per line.

In [11]:
df.columns

Index([u'Ozone', u'Solar.R', u'Wind', u'Temp', u'Month', u'Day'], dtype='object')

> ## Question 5.  How many variables (i.e., columns) are in this dataset?

In [9]:
6

6

> ## Question 6.  Extract the first 2 rows of the dataset and print them to the console.  What does the output look like?

In [30]:
df.head(2)

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

> ## Question 7.  Extract the last 2 rows of the data frame and print them to the console.  What does the output look like?

In [35]:
df.tail(2)

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

> ## Question 8.  What is the value of Ozone in the 47th row?

In [51]:
df[47:]

     Ozone  Solar.R  Wind  Temp  Month  Day
47    37.0    284.0  20.7    72      6   17
48    20.0     37.0   9.2    65      6   18
..     ...      ...   ...   ...    ...  ...
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

[106 rows x 6 columns]

In [52]:
df[(df.Ozone < 20)&(df.Day > 15)]

     Ozone  Solar.R  Wind  Temp  Month  Day
15    14.0    334.0  11.5    64      5   16
17     6.0     78.0  18.4    57      5   18
..     ...      ...   ...   ...    ...  ...
150   14.0    191.0  14.3    75      9   28
151   18.0    131.0   8.0    76      9   29

[18 rows x 6 columns]

> ## Question 9.  How many missing values are in the `Ozone` column of this dataset?

In [53]:
df.isnull()

     Ozone Solar.R   Wind   Temp  Month    Day
0    False   False  False  False  False  False
1    False   False  False  False  False  False
..     ...     ...    ...    ...    ...    ...
151  False   False  False  False  False  False
152  False   False  False  False  False  False

[153 rows x 6 columns]

> ## Question 10.  What is the mean of the `Ozone` column in this dataset?  Exclude missing values (coded as `NaN`) from this calculation.

In [62]:
#df[df.Ozone == 5].Ozone.mean()
df["Ozone"].mean()

42.12931034482759

> ## Question 11.  Extract the subset of rows of the dataset where `Ozone` values are above 31 and `Temp` values are above 90.

In [70]:
df1=df[(df.Ozone > 31)&(df.Temp > 90)]

In [71]:
df1

     Ozone  Solar.R  Wind  Temp  Month  Day
68    97.0    267.0   6.3    92      7    8
69    97.0    272.0   5.7    92      7    9
..     ...      ...   ...   ...    ...  ...
125   73.0    183.0   2.8    93      9    3
126   91.0    189.0   4.6    93      9    4

[10 rows x 6 columns]

> ## Question 12.  What is the mean of `Solar.R` in this subset?

In [72]:
df1["Solar.R"].mean()

212.8

> ## Question 13.  What is the mean of `Temp` when `Month` is equal to 6?

In [89]:
df2=df['Month'] == 6

In [88]:
df2

[[0      False
  1      False
         ...
  151    False
  152    False
  Name: Month, dtype: bool]]

> ## Question 14.  What was `Ozone`'s maximum in the month of May?

In [92]:
df["Ozone"].max()

168.0