In [1]:
import os

import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

In [2]:
df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-06-storms.csv.gz'))

/Users/samuelleichman/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (2,9,10,11,12,16,17,27,28,29,30,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df

,STATE__,BGN_DATE,BGN_TIME,TIME_ZONE,COUNTY,...,LONGITUDE,LATITUDE_E,LONGITUDE_,REMARKS,REFNUM
0,1.0,4/18/1950 0:00:00,130,CST,97.0,...,8812.0,3051.0,8806.0,NaN,1.0
1,1.0,4/18/1950 0:00:00,145,CST,3.0,...,8755.0,0.0,0.0,NaN,2.0
2,1.0,2/20/1951 0:00:00,1600,CST,57.0,...,8742.0,0.0,0.0,NaN,3.0
3,1.0,6/8/1951 0:00:00,900,CST,89.0,...,8626.0,0.0,0.0,NaN,4.0
4,1.0,11/15/1951 0:00:00,1500,CST,43.0,...,8642.0,0.0,0.0,NaN,5.0
...,...,...,...,...,...,...,...,...,...,...,...
902292,56.0,11/30/2011 0:00:00,10:30:00 PM,MST,7.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: A strong cold front moved s...,902293.0
902293,30.0,11/10/2011 0:00:00,02:48:00 PM,MST,9.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: A strong westerly flow alof...,902294.0
902294,2.0,11/8/2011 0:00:00,02:58:00 PM,AKS,213.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: A 960 mb low over the south...,902295.0
902295,2.0,11/9/2011 0:00:00,10:21:00 AM,AKS,202.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: A 960 mb low over the south...,902296.0
902296,1.0,11/28/2011 0:00:00,08:00:00 PM,CST,6.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: An intense upper level low ...,902297.0

In [4]:
df.shape

(902297, 37)

In [5]:
df.columns

Index([u'STATE__', u'BGN_DATE', u'BGN_TIME', u'TIME_ZONE', u'COUNTY',
       u'COUNTYNAME', u'STATE', u'EVTYPE', u'BGN_RANGE', u'BGN_AZI',
       u'BGN_LOCATI', u'END_DATE', u'END_TIME', u'COUNTY_END', u'COUNTYENDN',
       u'END_RANGE', u'END_AZI', u'END_LOCATI', u'LENGTH', u'WIDTH', u'F',
       u'MAG', u'FATALITIES', u'INJURIES', u'PROPDMG', u'PROPDMGEXP',
       u'CROPDMG', u'CROPDMGEXP', u'WFO', u'STATEOFFIC', u'ZONENAMES',
       u'LATITUDE', u'LONGITUDE', u'LATITUDE_E', u'LONGITUDE_', u'REMARKS',
       u'REFNUM'],
      dtype='object')

In [6]:
df = df.set_index('REFNUM')

In [7]:
df

,STATE__,BGN_DATE,BGN_TIME,TIME_ZONE,COUNTY,...,LATITUDE,LONGITUDE,LATITUDE_E,LONGITUDE_,REMARKS
REFNUM,,,,,,,,,,,
1.0,1.0,4/18/1950 0:00:00,130,CST,97.0,...,3040.0,8812.0,3051.0,8806.0,NaN
2.0,1.0,4/18/1950 0:00:00,145,CST,3.0,...,3042.0,8755.0,0.0,0.0,NaN
3.0,1.0,2/20/1951 0:00:00,1600,CST,57.0,...,3340.0,8742.0,0.0,0.0,NaN
4.0,1.0,6/8/1951 0:00:00,900,CST,89.0,...,3458.0,8626.0,0.0,0.0,NaN
5.0,1.0,11/15/1951 0:00:00,1500,CST,43.0,...,3412.0,8642.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
902293.0,56.0,11/30/2011 0:00:00,10:30:00 PM,MST,7.0,...,0.0,0.0,0.0,0.0,EPISODE NARRATIVE: A strong cold front moved s...
902294.0,30.0,11/10/2011 0:00:00,02:48:00 PM,MST,9.0,...,0.0,0.0,0.0,0.0,EPISODE NARRATIVE: A strong westerly flow alof...
902295.0,2.0,11/8/2011 0:00:00,02:58:00 PM,AKS,213.0,...,0.0,0.0,0.0,0.0,EPISODE NARRATIVE: A 960 mb low over the south...
902296.0,2.0,11/9/2011 0:00:00,10:21:00 AM,AKS,202.0,...,0.0,0.0,0.0,0.0,EPISODE NARRATIVE: A 960 mb low over the south...
902297.0,1.0,11/28/2011 0:00:00,08:00:00 PM,CST,6.0,...,0.0,0.0,0.0,0.0,EPISODE NARRATIVE: An intense upper level low ...

In [8]:
df.isnull()

,STATE__,BGN_DATE,BGN_TIME,TIME_ZONE,COUNTY,...,LATITUDE,LONGITUDE,LATITUDE_E,LONGITUDE_,REMARKS
REFNUM,,,,,,,,,,,
1.0,False,False,False,False,False,...,False,False,False,False,True
2.0,False,False,False,False,False,...,False,False,False,False,True
3.0,False,False,False,False,False,...,False,False,False,False,True
4.0,False,False,False,False,False,...,False,False,False,False,True
5.0,False,False,False,False,False,...,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...
902293.0,False,False,False,False,False,...,False,False,False,False,False
902294.0,False,False,False,False,False,...,False,False,False,False,False
902295.0,False,False,False,False,False,...,False,False,False,False,False
902296.0,False,False,False,False,False,...,False,False,False,False,False
902297.0,False,False,False,False,False,...,False,False,False,False,False

df.isnull().sum()

In [10]:
df.FATALITIES.isnull().sum()

0

In [11]:
df.isnull().sum().sum()

6645709

In [12]:
df.columns[df.isnull().sum () > 0]

Index([u'COUNTYNAME', u'BGN_AZI', u'BGN_LOCATI', u'END_DATE', u'END_TIME',
       u'COUNTYENDN', u'END_AZI', u'END_LOCATI', u'F', u'PROPDMGEXP',
       u'CROPDMGEXP', u'WFO', u'STATEOFFIC', u'ZONENAMES', u'LATITUDE',
       u'LATITUDE_E', u'REMARKS'],
      dtype='object')

In [15]:
n = df.shape[0]

for column in df.columns:
    count = df[column].isnull().sum()
    if count > 0:
        print '{:10s} {:6d} {:3.0f}%'.format(column, count, 100. * count / n)

COUNTYNAME   1589   0%
BGN_AZI    547332  61%
BGN_LOCATI 287743  32%
END_DATE   243411  27%
END_TIME   238978  26%
COUNTYENDN 902297 100%
END_AZI    724837  80%
END_LOCATI 499225  55%
F          843563  93%
PROPDMGEXP 465934  52%
CROPDMGEXP 618413  69%
WFO        142069  16%
STATEOFFIC 248769  28%
ZONENAMES  594029  66%
LATITUDE       47   0%
LATITUDE_E     40   0%
REMARKS    287433  32%

In [16]:
df.dropna()

Empty DataFrame
Columns: [STATE__, BGN_DATE, BGN_TIME, TIME_ZONE, COUNTY, COUNTYNAME, STATE, EVTYPE, BGN_RANGE, BGN_AZI, BGN_LOCATI, END_DATE, END_TIME, COUNTY_END, COUNTYENDN, END_RANGE, END_AZI, END_LOCATI, LENGTH, WIDTH, F, MAG, FATALITIES, INJURIES, PROPDMG, PROPDMGEXP, CROPDMG, CROPDMGEXP, WFO, STATEOFFIC, ZONENAMES, LATITUDE, LONGITUDE, LATITUDE_E, LONGITUDE_, REMARKS]
Index: []

[0 rows x 36 columns]

In [18]:
df.dropna(axis = 1)

,STATE__,BGN_DATE,BGN_TIME,TIME_ZONE,COUNTY,...,INJURIES,PROPDMG,CROPDMG,LONGITUDE,LONGITUDE_
REFNUM,,,,,,,,,,,
1.0,1.0,4/18/1950 0:00:00,130,CST,97.0,...,15.0,25.0,0.0,8812.0,8806.0
2.0,1.0,4/18/1950 0:00:00,145,CST,3.0,...,0.0,2.5,0.0,8755.0,0.0
3.0,1.0,2/20/1951 0:00:00,1600,CST,57.0,...,2.0,25.0,0.0,8742.0,0.0
4.0,1.0,6/8/1951 0:00:00,900,CST,89.0,...,2.0,2.5,0.0,8626.0,0.0
5.0,1.0,11/15/1951 0:00:00,1500,CST,43.0,...,2.0,2.5,0.0,8642.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
902293.0,56.0,11/30/2011 0:00:00,10:30:00 PM,MST,7.0,...,0.0,0.0,0.0,0.0,0.0
902294.0,30.0,11/10/2011 0:00:00,02:48:00 PM,MST,9.0,...,0.0,0.0,0.0,0.0,0.0
902295.0,2.0,11/8/2011 0:00:00,02:58:00 PM,AKS,213.0,...,0.0,0.0,0.0,0.0,0.0
902296.0,2.0,11/9/2011 0:00:00,10:21:00 AM,AKS,202.0,...,0.0,0.0,0.0,0.0,0.0
902297.0,1.0,11/28/2011 0:00:00,08:00:00 PM,CST,6.0,...,0.0,0.0,0.0,0.0,0.0

In [19]:
df.dropna(how = 'all', axis = 1)

,STATE__,BGN_DATE,BGN_TIME,TIME_ZONE,COUNTY,...,LATITUDE,LONGITUDE,LATITUDE_E,LONGITUDE_,REMARKS
REFNUM,,,,,,,,,,,
1.0,1.0,4/18/1950 0:00:00,130,CST,97.0,...,3040.0,8812.0,3051.0,8806.0,NaN
2.0,1.0,4/18/1950 0:00:00,145,CST,3.0,...,3042.0,8755.0,0.0,0.0,NaN
3.0,1.0,2/20/1951 0:00:00,1600,CST,57.0,...,3340.0,8742.0,0.0,0.0,NaN
4.0,1.0,6/8/1951 0:00:00,900,CST,89.0,...,3458.0,8626.0,0.0,0.0,NaN
5.0,1.0,11/15/1951 0:00:00,1500,CST,43.0,...,3412.0,8642.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
902293.0,56.0,11/30/2011 0:00:00,10:30:00 PM,MST,7.0,...,0.0,0.0,0.0,0.0,EPISODE NARRATIVE: A strong cold front moved s...
902294.0,30.0,11/10/2011 0:00:00,02:48:00 PM,MST,9.0,...,0.0,0.0,0.0,0.0,EPISODE NARRATIVE: A strong westerly flow alof...
902295.0,2.0,11/8/2011 0:00:00,02:58:00 PM,AKS,213.0,...,0.0,0.0,0.0,0.0,EPISODE NARRATIVE: A 960 mb low over the south...
902296.0,2.0,11/9/2011 0:00:00,10:21:00 AM,AKS,202.0,...,0.0,0.0,0.0,0.0,EPISODE NARRATIVE: A 960 mb low over the south...
902297.0,1.0,11/28/2011 0:00:00,08:00:00 PM,CST,6.0,...,0.0,0.0,0.0,0.0,EPISODE NARRATIVE: An intense upper level low ...

In [22]:
df.duplicated().sum()

3143

In [21]:
df[df.duplicated()]

,STATE__,BGN_DATE,BGN_TIME,TIME_ZONE,COUNTY,...,LATITUDE,LONGITUDE,LATITUDE_E,LONGITUDE_,REMARKS
REFNUM,,,,,,,,,,,
19.0,1.0,5/10/1952 0:00:00,900,CST,57.0,...,3344.0,8745.0,0.0,0.0,NaN
20.0,1.0,5/10/1952 0:00:00,900,CST,57.0,...,3344.0,8745.0,0.0,0.0,NaN
260.0,1.0,7/4/1960 0:00:00,1750,CST,13.0,...,3139.0,8636.0,0.0,0.0,NaN
603.0,1.0,5/14/1967 0:00:00,2330,CST,77.0,...,3453.0,8730.0,0.0,0.0,NaN
604.0,1.0,5/14/1967 0:00:00,2330,CST,77.0,...,3453.0,8730.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
900771.0,38.0,10/7/2011 0:00:00,03:00:00 PM,CST,7.0,...,0.0,0.0,0.0,0.0,EPISODE NARRATIVE: A strong early October low ...
900806.0,27.0,10/7/2011 0:00:00,04:00:00 PM,CST,1.0,...,0.0,0.0,0.0,0.0,EPISODE NARRATIVE: A strong early October low ...
900807.0,36.0,10/29/2011 0:00:00,01:00:00 PM,EST,57.0,...,0.0,0.0,0.0,0.0,EPISODE NARRATIVE: An early season winter stor...
900808.0,38.0,10/24/2011 0:00:00,03:03:00 PM,CST,7.0,...,0.0,0.0,0.0,0.0,EPISODE NARRATIVE: Seasonably warm and dry con...
900809.0,27.0,10/5/2011 0:00:00,03:00:00 PM,CST,5.0,...,0.0,0.0,0.0,0.0,EPISODE NARRATIVE: A wildfire originated in Ju...