In [2]:
import os

import math

import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 20)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

In [4]:
df = pd.read_csv('/Users/samuelleichman/DS-SF-30/unit-project/dataset/Q107II.csv')

In [52]:
var = df.iloc[4,8]

In [59]:
df[df.SaleDate == '1/3/2007  12:00:00 AM’].SkuCode.mean()

SyntaxError: EOL while scanning string literal (<ipython-input-59-ddc1cde8bca3>, line 1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [29]:
df.dtypes

ShipDate                   object
OrderNumber                object
ItemCode                   object
ItemDescription            object
OrderLocation              object
SKUCode                     int64
Department                 object
UnitsSold                 float64
TotalNetRevenue            object
TotalCOGS                  object
GrossMarginDollars         object
GrossMarginPercent         object
CurrentAverageCost         object
CurrentRetailPriceEach     object
Current_GM_Each           float64
Class                      object
Category                   object
Sub_Class                  object
Quarter                    object
dtype: object

In [30]:
df.isnull

<bound method DataFrame.isnull of                     ShipDate OrderNumber          ItemCode  \
0      1/3/2007  12:00:00 AM    G0784135        0096 WHITE
1      1/3/2007  12:00:00 AM    G0792852        0096 WHITE
2      1/3/2007  12:00:00 AM  WEB0784998        0096 WHITE
3      1/3/2007  12:00:00 AM  WEB0786966        0096 WHITE
4      1/3/2007  12:00:00 AM  WEB0790371        0096 WHITE
5      1/3/2007  12:00:00 AM  WEB0791955        0096 WHITE
6      1/3/2007  12:00:00 AM  WEB0792086        0096 WHITE
7      1/3/2007  12:00:00 AM    G0790461        0096 WHITE
8      1/3/2007  12:00:00 AM    G0791465        0096 WHITE
9      1/3/2007  12:00:00 AM    G0784248        0096 WHITE
...                      ...         ...               ...
6198   2/1/2007  12:00:00 AM    G0811143  C4318 STEEL.GREY
6199  3/16/2007  12:00:00 AM    G0837069    C6987 ALUMINUM
6200   1/6/2007  12:00:00 AM    G0794773      C7080 CHROME
6201   1/6/2007  12:00:00 AM    G0794773      C7081 CHROME
6202  2/23/2007  12:00:00 AM    G0821027     C8224 NATURAL
6203  3/12/2007  12:00:00 AM    G0825669     C8224 NATURAL
6204   1/3/2007  12:00:00 AM    G0790232     C9518 OPALINE
6205  1/10/2007  12:00:00 AM    G0796690    C9803 ALUMINUM
6206  2/14/2007  12:00:00 AM    G0817437        P8764 NONE
6207  2/20/2007  12:00:00 AM    G0818455        P8764 NONE

                                   ItemDescription  \
0          Nelson Saucer Pendant Lamp - Med, White
1          Nelson Saucer Pendant Lamp - Med, White
2          Nelson Saucer Pendant Lamp - Med, White
3          Nelson Saucer Pendant Lamp - Med, White
4          Nelson Saucer Pendant Lamp - Med, White
5          Nelson Saucer Pendant Lamp - Med, White
6          Nelson Saucer Pendant Lamp - Med, White
7          Nelson Saucer Pendant Lamp - Med, White
8          Nelson Saucer Pendant Lamp - Med, White
9          Nelson Saucer Pendant Lamp - Med, White
...                                            ...
6198           Arco Floor Lamp - Shade, Steel Grey
6199                       Kelvin Task Lamp - Base
6200        Pantop Table Lamp Small - Base, Chrome
6201       Pantop Table Lamp Small - Shade, Chrome
6202              Gilda Floor Lamp Shade , Natural
6203              Gilda Floor Lamp Shade , Natural
6204              Mirandolina - Opal Dome, Opaline
6205     Cellula Chandelier - 32 in. Rod, Aluminum
6206  Nelson Lamp Ceiling Plate and Hardware, None
6207  Nelson Lamp Ceiling Plate and Hardware, None

                      OrderLocation   ...    Current_GM_Each     Class  \
0             200 - DWR Call Center   ...              52.31  PENDANTS
1             200 - DWR Call Center   ...              52.31  PENDANTS
2        205 - zz_Website - dwr.com   ...              52.31  PENDANTS
3        205 - zz_Website - dwr.com   ...              52.31  PENDANTS
4        205 - zz_Website - dwr.com   ...              52.31  PENDANTS
5        205 - zz_Website - dwr.com   ...              52.31  PENDANTS
6        205 - zz_Website - dwr.com   ...              52.31  PENDANTS
7         213 - Santa Monica Studio   ...              52.31  PENDANTS
8             216 - Portland Studio   ...              52.31  PENDANTS
9     227 - Brooklyn Heights Studio   ...              52.31  PENDANTS
...                             ...   ...                ...       ...
6198          200 - DWR Call Center   ...              49.06     FLOOR
6199       245 - Minneapolis Studio   ...              53.84      TASK
6200        249 - Birmingham Studio   ...              58.92     TABLE
6201        249 - Birmingham Studio   ...              58.93     TABLE
6202           223 - Chelsea Studio   ...              43.65     FLOOR
6203              221 - Soho Studio   ...              43.65     FLOOR
6204           271 - Potrero Studio   ...              40.89     TABLE
6205      234 - North Avenue Studio   ...              38.48  PENDANTS
6206          230 - Berkeley Studio   ...              45.64  PENDANTS
6207           271 - Potrero Studio   ...              45.64  PENDANTS

      Category Sub_Class Quarter
0         MISC      MISC   Q1 07
1         MISC      MISC   Q1 07
2         MISC      MISC   Q1 07
3         MISC      MISC   Q1 07
4         MISC      MISC   Q1 07
5         MISC      MISC   Q1 07
6         MISC      MISC   Q1 07
7         MISC      MISC   Q1 07
8         MISC      MISC   Q1 07
9         MISC      MISC   Q1 07
...        ...       ...     ...
6198      MISC      MISC   Q1 07
6199      MISC      MISC   Q1 07
6200      MISC      MISC   Q1 07
6201      MISC      MISC   Q1 07
6202      MISC      MISC   Q1 07
6203      MISC      MISC   Q1 07
6204      MISC      MISC   Q1 07
6205      MISC      MISC   Q1 07
6206      MISC      MISC   Q1 07
6207      MISC      MISC   Q1 07

[6208 rows x 19 columns]>

In [31]:
df.shape

(6208, 19)

In [34]:
print ('Class')

Class